mixin card(cardImage, cardTitle, cardSub, cardText, cardlink, user, imageUser,  linkuser)
	.card
		.card__img
			img(src=cardImage)
		.card__content
			.card__title=cardTitle
			.card__subtitle
				p=cardSub
			.card__body
				p=cardText
			footer.card__footer
				if (user !== "no")
					.card__user
						.card__user-img
							img(src=imageUser)
						.card__user-name
							a(target="_blank" href=linkuser)= user
				.card__button
					a(target="_blank" href=cardlink title=cardTitle).button--ghost--tertiary.button--small Ver página
div(class='ed-container')
	div(class='ed-item')
		h2 API Local Data Json
div(class='ed-grid m-grid-2 l-grid-3 lg-grid-4')
	-for(var i = 0; i < examplesJson.length ; i++)
		-var exampleJson = examplesJson[i]
		//+card(
		//	exampleJson.img,
		//	exampleJson.title,
		//	exampleJson.subtitle,
		//	exampleJson.description,
		//	exampleJson.url,
		//	exampleJson.user,
		//	exampleJson.imageUser,
		//	exampleJson.linkUser)
		.card
			.card__img
				img(src=exampleJson.img)
			.card__content
				.card__title=exampleJson.title
				.card__subtitle
					p=exampleJson.subtitle
				.card__body
					p=exampleJson.description
				footer.card__footer
					if (exampleJson.user !== "no")
						.card__user
							.card__user-img
								img(src=exampleJson.imageUser)
							.card__user-name
								a(target="_blank" href=exampleJson.linkUser)= exampleJson.user
					.card__button
						a(target="_blank" href=exampleJson.linkUser title=exampleJson.title).button--ghost--tertiary.button--small Ver página
