//- Images Grid basesd in Css Grid
mixin grid(galleryCont, galleryItem, imgUrl, ext, numberItems)
	//Gallery Container
	div(class=`${galleryCont}`)
		-for (var i=0; i < `${numberItems}`; i++)
			//Gallery Item
			div(class=`${galleryItem}`)
				//gallery Image
				img(src=`assets/img/${imgUrl}.${ext}`)

//-
mixin rwdImage(imgUrl1, imgUrl1_alt,imgUrl2,imgUrl2_alt,imgUrl3, imgUrl3_alt, imgUrl4, imgUrl4_alt)
	picture
		source(srcset=`assets/img/${imgUrl4}`, alt=imgUrl4_alt, media='(min-width:1280px)')
		source(srcset=`assets/img/${imgUrl3}`, alt=imgUrl3_alt, media='(min-width:960px)')
		source(srcset=`assets/img/${imgUrl2}`, alt=imgUrl2_alt, media='(min-width:640px)') 
		img(src=`assets/img/${imgUrl1}`, alt=imgUrl1_alt)
